.navBar {
    background-color: var(--green-Light);
    box-shadow: 0 5px 10px 1px var(--green-cyan);
    position: fixed;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}
.imgLogo {
    width: 80px;

}
.contentNavBar {
    display: flex;
    justify-content: space-between;
    padding: .5rem ;
    align-items: center;
    align-content: center;
}
.nameMe {
    color: var(--blue-dark);
    display: flex;
    align-items: center;
    width: 12%;
    gap: 1rem;
}
.LinksNavBar {
    text-transform: uppercase;
    color: var(--green-dark);
    display: flex;
    width: 50%;
    justify-content: space-around;
    letter-spacing: .1rem;
}
.LinksNavBar li:hover {
  border-bottom: 1px solid var(--green-cyan);
  cursor: pointer;
  color: var(--whitesmoke);
}
.displayLinksNavBar {
    display: inline-flex;
}
.menuHamburguer {
    display: none;
}
.slide-in-elliptic-bottom-fwd {
	-webkit-animation: slide-in-elliptic-bottom-fwd 3s ;
	        animation: slide-in-elliptic-bottom-fwd 3s ;
}
@-webkit-keyframes slide-in-elliptic-bottom-fwd {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
              transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
              transform-origin: 50% -1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-bottom-fwd {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
              transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
              transform-origin: 50% -1400px;
      opacity: 1;
    }
  }
  