* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Lora', serif;
}
:root {
  --green-Light : #55a2a3;
  --green-dark:#0c2d36;
  --blue-dark :#18297a;
  --green-cyan: #376d80;
  --whitesmoke:whitesmoke;
  --black: black;
  --blue-primary:#0c222f;
  --green-primary:#376d80;
  --gray-light:#f0f2f2;
  --blue-dark-about:#00161b;
}